<?xml version='1.0' encoding='utf-8'?>
<!--
     SPDX-FileCopyrightText: Paranoid Android
     SPDX-License-Identifier: Apache-2.0
-->
<manifest>
  <include name="../platforms/kona.xml" />

  <project path="device/xiaomi/pipa" name="aospa-sm8250/android_device_xiaomi_pipa" remote="aospa" revision="calcite" />
  <project path="device/xiaomi/sm8250-common" name="aospa-sm8250/android_device_xiaomi_sm8250-common" remote="aospa" revision="calcite" />
  <project path="hardware/xiaomi" name="aospa-sm8250/android_hardware_xiaomi" remote="aospa" revision="calcite" />
  <project path="kernel/msm-4.19" name="aospa-sm8250/android_kernel_xiaomi_sm8250" remote="aospa" revision="calcite" />
  <project path="vendor/xiaomi" name="aospa-sm8250/proprietary_vendor_xiaomi" remote="aospa" revision="calcite" clone-depth="1" />
</manifest>
